.container {
  display: grid;
  grid-template-columns: 335px 335px 335px 335px;
}

.item {
  width: 95%;
  height: 95%;
  background-color: $grey;
}

@media screen and (max-width: $desktop-m) {
  .container {
    grid-template-columns: 335px 335px 335px;
  }
}

@media screen and (max-width: $desktop-s) {
  .container {
    grid-template-columns: 225px 225px 225px;
  }
}

@media screen and (max-width: $tablet) {
  .container {
    grid-template-columns: 235px 235px;
  }
}

@media screen and (max-width: $mobile) {
  .container {
    grid-template-columns: 335px;
  }
  .item {
    width: 100%;
  }
}
